@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<section id="banner" class="banner">
    <div class="bg-color">
        <header style="margin-top:100px">
            <h1>@ViewData["Title"]</h1>
            <p>You have successfully logged out of the application.</p>
        </header>
    </div>
</section>
